
@Scripts.Render("~/bundles/cart")



@foreach (var product in ViewBag.ProductList)
{
    <div id="@(product.id)" class="product_box">
        <img src="~/images/@(product.pic)" alt="@(product.pic) width="100" height="200" />
        <h3>@product.name</h3>
        <h3>@product.info</h3>
        <p class="product_price">@product.price</p>
        <a href="shoppingcart.html" class="add_to_cart">BUY IT NOW!</a>
        <a href="productdetail_1.html" class="detail">DETAIL</a>
    </div>
}

<p>@ViewBag.LoggedInUser</p>




